<!DOCTYPE html> 
<html lang="en"> 
  <head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BolzApp</title>

    <!-- Importa foglio di stile esterno -->
    <link rel="stylesheet" href="css/style.css"> 

    <!-- Importa la libreria di icone FontAwesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script> 

    <!-- Importa il framework JavaScript Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>


  <body>
    <!-- Struttura del corpo della pagina, identificata dall'id "app" -->
    <div id="app"> 
      <!-- Contenitore della barra laterale sinistra -->
      <div id="l-side">
            
        <!-- Barra di navigazione dell'utente -->
        <div class="user-nav">
            <div class="l-user-icons">
                <img src="img/img5.jpg" alt="Avatar Utente">
                <span class="user-name">Simone</span>
            </div>
            <div class="r-user-icons">
                <i class="fas fa-circle-notch"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>

        <!-- Sezione notifiche -->
        <div class="notifications">
            <div class="bell-background">
                <i class="fas fa-bell-slash"></i>
            </div>
            <div class="notifications-texts">
                <div class="strong">Ricevi notifiche di nuovi messaggi</div>
                <a href="#">Attiva le notifiche desktop</a>
            </div>           
        </div>

        <!-- Sezione di ricerca delle chat -->
        <div class="chat-search">
            <div class="search-icon">
                <i class="fas fa-search"></i>
            </div>
            <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="search" @keydown.enter="filteredContacts()">
        </div>

        <!-- Lista dei contatti disponibili per la chat -->
        <div class="contact-list">
            <div v-for="(contact, index) in filteredContacts" class="contact" 
            :class="(index == currentContact ? 'contact-active' : null)" 
            @click="setIndexContact(index)">
                <div class="l-contact">
                    <img :src="filteredContacts[index].avatar" alt="Avatar Contatto">
                    <div class="info">
                        <div class="contact-name">{{contact.name}}</div>
                        <div class="last-message">{{contact.messages.slice(-1)[0].text}}</div>
                    </div>
                </div>
                <div class="r-contact">
                    <div class="message-time">{{contact.messages.slice(-1)[0].date}}</div>
                </div>
            </div>
        </div>
    </div>
    


      
     
      <!-- right side -->
      <div id="r-side">
        <!-- Navigazione del contatto -->
        <div class="contact-nav">
            <div class="l-contact-icons">
                <!-- Avatar del contatto -->
                <img :src="filteredContacts[currentContact].avatar" alt="Avatar Utente">
                <div class="contact-info">
                    <!-- Nome del contatto -->
                    <div class="contact-name">{{filteredContacts[currentContact].name}}</div>
                    <!-- Ultimo accesso del contatto -->
                    <div class="last-access">Ultimo accesso oggi alle ore {{filteredContacts[currentContact].messages.slice(-1)[0].date}}</div>
                </div>
            </div>
            <!-- Icone di ricerca, allegato e opzioni -->
            <div class="r-contact-icons">
                <i class="fas fa-search"></i>
                <i class="fas fa-paperclip"></i>
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
        <!-- Area dei messaggi -->
        <div class="message-area">
            <div v-for="(message, index) in filteredContacts[currentContact].messages" class="message" :class="(filteredContacts[currentContact].messages[index].status == 'sent') ? 'message-sent' : 'message-received'" >
                <!-- Testo del messaggio -->
                {{filteredContacts[currentContact].messages[index].text}}
                <!-- Data e ora del messaggio -->
                <span class="message-date">{{filteredContacts[currentContact].messages[index].date}}</span>
            </div>
        </div>
        <!-- Controlli di testo -->
        <div class="text-controls">
            <i class="far fa-smile"></i>
            <input type="text" placeholder="Scrivi un messaggio">
            <i class="fas fa-microphone"></i>
        </div>
      </div>
      <!-- /right side -->


      

    </div>

    
     <!-- Importa file JavaScript esterno -->
    <script src="js/script.js"></script> 
  </body>
</html>
